<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <a href="https://github.com/Fantom-foundation" target="_blank" aria-label="GitHub">
          <img class="docs-footer-angular-logo"
               src="assets/img/logos/github-circle-white-transparent.svg"
               alt="GitHub">
        </a>
        <a href="https://github.com/Fantom-foundation" target="_blank" aria-label="Gitter">
          <img class="docs-footer-angular-logo"
               src="assets/img/logos/gitter.svg"
               alt="GitHub">
        </a>
        <a href="https://github.com/Fantom-foundation" target="_blank" aria-label="Telegram">
          <img class="docs-footer-angular-logo"
               src="assets/img/logos/telegram.svg"
               alt="GitHub">
        </a>&emsp;
      </div>
    </div>

    <div class="docs-footer-version">
      <button mat-button routerLink="guide/getting-started">Getting started</button>
      <button mat-button routerLink="/wiki">Wiki</button>
      <button mat-button routerLink="/rfc">RFC</button>
    </div>

    <div class="docs-footer-copyright">
      <span>Code licensed under an MIT-style License.</span>
      <span>Documentation licensed under CC BY 4.0.</span>
    </div>
  </div>
</footer>
