<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar-header">
  <button mat-button class="docs-button docs-navbar-hide-vsmall" id="name" routerLink="/" aria-label="fantom-dev">
    fantom-dev
  </button>
  <!--<a mat-button class="docs-navbar-hide-small docs-button"
     *ngFor="let key of sectionKeys"
     [routerLink]="key">{{sections[key].name}}</a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="guides">Guides</a>
  -->
  <ng-container *ngIf="w.location.pathname.indexOf('guide/getting-started') > -1">
    <div class="flex-spacer"></div>
    <app-platform-picker></app-platform-picker>
  </ng-container>

  <div class="flex-spacer"></div>
  <a mat-icon-button
     href="https://github.com/Fantom-foundation" aria-label="GitHub Repository">
    <app-svg-viewer
      src="../assets/img/logos/github-circle-white-transparent.svg"
      scaleToContainer="true"></app-svg-viewer>
  </a>
</nav>
