<div class="docs-markdown pad">
  <h5 class="docs-markdown-h5">
    Getting started developing on Fantom
  </h5>

  <p class="docs-markdown-p">
    <a href="https://github.com/Fantom-foundation" class="docs-markdown-a" target="_blank">
      Fantom foundation
    </a> is made up of a number of repositories. This will guide you through getting your development environment setup.
  </p>

  <p class="docs-markdown-p" *ngIf="os('Linux')">
    Though this guide is for the Ubuntu linux; it should be easy to retrofit to others.
  </p>

  <p class="docs-markdown-p" *ngIf="os('macOS')">
    Though this guide has been tested on macOS High Sierra; it will probably work on older versions.
  </p>

  <p class="docs-markdown-p" *ngIf="os('Windows')">
    Follow this guide on Windows 7+.
  </p>

  <em>
    All grey background assumes you are running in an active
    <ng-container *ngIf="os('Windows')">Command Prompt (<code>cmd.exe</code>)</ng-container>
    <ng-container *ngIf="os('macOS') || os('Linux')">Terminal</ng-container>
    session
  </em>

  <section id="step-0-install-build-dependencies">
    <h3 class="docs-header-link docs-markdown-h3">
      Step 0: Install build dependencies
    </h3>
    <pre class="docs-markdown-pre"><code class="lang-bash docs-markdown-code" *ngIf="os('Linux')">
sudo apt update
sudo apt install build-essential git-core tcl
    </code></pre>

    <a *ngIf="os('macOS')" href="https://developer.apple.com/downloads" class="docs-markdown-a" target="_blank">
      Latest XCode and Command Line Tools
    </a>
    <pre class="docs-markdown-pre"><code class="lang-bash docs-markdown-code" *ngIf="os('macOS')">
/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
brew update
brew install git
    </code></pre>

    <section class="docs-guide-content" *ngIf="os('Windows')">
      Ensure you check "Add to PATH" whenever asked:
      <ol>
        <li><a class="docs-markdown-a"
               href="https://www.visualstudio.com/thank-you-downloading-visual-studio/?sku=BuildTools&rel=15">
          Build Tools for Visual Studio 2017
        </a></li>
        <li><a class="docs-markdown-a" href="https://git-scm.com/download/win">git</a></li>
        <li><a class="docs-markdown-a" href="https://www.python.org/downloads/windows">Python 2.7</a></li>
      </ol>
      <p class="docs-markdown-p">Test that it installed correctly with:</p>
      <pre class="docs-markdown-pre"><code class="lang-bash docs-markdown-code">
  git --version
  cl /?
      </code></pre>
    </section>
  </section>

  <section id="step-1-install-go">
    <h3 class="docs-header-link docs-markdown-h3">
      Step 1: Install Go
    </h3>

    <pre class="docs-markdown-pre" *ngIf="os('Linux')"><code class="lang-bash docs-markdown-code">
curl https://dl.google.com/go/go1.11.2.linux-amd64.tar.gz -o go.linux-amd64.tar.gz
tar -C /usr/local -xzf go.linux-amd64.tar.gz
sudo bash -c "GOPATH=$HOME/go >> /etc/environment"
      </code></pre>

    <pre class="docs-markdown-pre" *ngIf="os('macOS')"><code class="lang-bash docs-markdown-code">
brew install go
      </code></pre>

    <p class="docs-markdown-p" *ngIf="os('Windows')">
      Official Go installer: <a
      href="https://dl.google.com/go/go1.11.2.windows-amd64.msi">go1.11.2.windows-amd64.msi</a>
    </p>
  </section>

  <hr>
  <p class="docs-markdown-p">
    Now you have everything you need to orchestrate with fantom-dev.
  </p>
</div>
