app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin-bottom: 55px !important;
}

app-root > app-component-sidenav {
  flex: 1;
}

app-root > app-getting-started,
app-root > app-guides {
  overflow-y: auto;
}

@media (max-width: 720px) {
  app-root {
    top: 92px;
  }

  app-root > app-getting-started,
  app-root > app-guides {
    overflow-y: visible;
  }
}

.router-outlet-div {
  padding: 3%;
  margin: 30px;
}
