<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Fantom developer ecosystem</h1>
      <h2>Learn the tech; build the tech</h2>
      <h3>Beyond Blockchain</h3>
    </div>
    <!--
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/guide/getting-started">Get started</a>
    </div>
    -->
  </div>
</header>

<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/sprintzerotoapp.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Consensus</h2>
      <p>Rust and Go implementations of the Lachesis consensus.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/fastandconsistent.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Fantom Pay</h2>
      <p>&hellip;hello world here I go</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/versatile.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Payments</h2>
      <p>SDK, eCommerce, mPOS, multi currency wallets</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/optimized.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>DApp</h2>
      <p>Develop contracts with frontends, explore others, and share. Documentation and examples provided.</p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a mat-raised-button class="docs-button" routerLink="/guide/getting-started">Get started</a>
    <a mat-raised-button class="docs-button" routerLink="/wiki">Wiki</a>
  </div>
</div>

<!--<app-footer></app-footer>-->
