@import './app-theme';
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';

@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$mat-fantom: (
  50: #333132,
  100: #030303,
  200: #171717,
  300: #474747,
  400: #222222,
  500: #3f51b5,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$fantom-dev-primary: mat-palette($mat-fantom);
$fantom-dev-accent: mat-palette($mat-fantom, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fantom-dev-warn: mat-palette($mat-fantom);

// Create the theme object (a Sass map containing all of the palettes).
$fantom-dev-theme: mat-light-theme($fantom-dev-primary, $fantom-dev-accent, $fantom-dev-warn);

/*
$fantom-dev-light-www-theme: mat-light-theme($fantom-dev-primary, $fantom-dev-accent);

$dark-primary: mat-palette($mat-deep-orange);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-purple);
$fantom-dev-dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
*/

@include fantom-dev-theme($fantom-dev-theme);
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
